.break-one{
margin-top: 0;
  width: 100vw;
  height: 300px;
  background-color:white;
  .header {


    .logo {


      .logo__image {
        width:400px;
        height: 300px;

        background-image: url(../assets/logo1.png);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;


      }

    }

    .menu {
      display: none; // mobile first
      @include tablet {
        display: flex;
      }

      @include desktop {
        display: flex;
        flex-direction: row;

        margin-left: 2em;
      }


      .menu_item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4em;
        padding: 1em 2.5em;
        margin: 0.5em 0.7em;
        background-color: white;
        border-radius: 0.5em;
        //border: 1px solid $main-text-color;
        transition: 1s;

        &:hover {
          transform: scale(1.2);
          font-weight: bold;
        }
      }

      .first-btn {
        background-color: #a7d8f3;

        border: 4px dotted #385d67;


        a {
          color: white;
        }
      }

      .second-btn {
        background-color: #f8beeb;

        border: 4px dotted #ee73ca;


        a {
          color: white;
        }
      }

      .third-btn {
        background-color: #e8cd91;

        border: 4px dotted #daa832;


        a {
          color: white;
        }
      }

      .menu__link {
        text-decoration: none;
        color: $main-text-color;
        font-weight: bold;
      }
    }
  }

}

