$main-background-color: white;
//$main-background-color: rgb(225, 171, 180, 0.2);
$main-text-color: #494848;
$second-text-color: #696969;
$logo-background-color: rgba(252, 72, 135, 0.21);
$border-buttons-color: #1691C3;

$girl-section-color: rgba(232, 181, 255, 0.23);
$boy-section-color: rgba(157, 207, 255, 0.18);
$surprise-section-color: rgba(203, 255, 203, 0.3);

$surprise-color: #adad58;


